
body{
    position: relative;
    background: rgb(232,234,236);
    background: linear-gradient(58deg, rgba(232,234,236,1) 22%, rgba(238,248,255,1) 80%);
}

main{
    width: 100%;
    margin-top: 125px;
}


.point-experience{
    color: rgb(172, 1, 1);
    font-size: 45px;
}

// active links color
.active-link{
    color: rgb(172, 1, 1);
}