.img-competences{
    background: rgb(29,66,181);
    background: linear-gradient(58deg, rgba(29,66,181,1) 22%, rgba(24,148,235,1) 80%);
    border-radius: 35px 15px 65px 46px
}

.div-background-img{
    background-image: url("../medias/computer-g440e02e35_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        backdrop-filter: blur(10px);
    }
}