// style page creation //

.slider-mes-creations{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-img-top {
    height: 175px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}